<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>User Edit</title>
</head>
<body>
    <h1>resetting form</h1>
    <form action="/update/<%= user[0].id %>" method="POST">
        user <input type="text" name="name" value="<%= user[0].name %>"><br>
        password <input type="text" name="email" value="<%= user[0].email %>"><br>
        <button type="submit">submit</button>
    </form>    
</body>
</html>